<!-- <!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%>: Search Results</h1>
    <h3>Search for: "<%= keyword %>"</h3>
</body>
</html> -->